<section class="page-section">
  <div class="container">
    <h1 class="page-title"><i class="fa-solid fa-phone"></i> التواصل</h1>

    <div class="row g-4">
      <div class="col-lg-5">
        <div class="contact-info">
          <div class="info-item">
            <span class="info-icon"><i class="fa-solid fa-map-marker-alt"></i></span>
            <div>
              <h3>العنوان</h3>
              <p> دحضة ، نجران ، المملكة العربية السعودية</p>
            </div>
          </div>
          <div class="info-item">
            <span class="info-icon"><i class="fa-solid fa-phone"></i></span>
            <div>
              <h3>الهاتف</h3>
              <p dir="ltr">+966548437888</p>
            </div>
          </div>
          <div class="info-item">
            <span class="info-icon"><i class="fa-solid fa-envelope"></i></span>
            <div>
              <h3>البريد الإلكتروني</h3>
              <p>alshoruqedu@gmail.com</p>
            </div>
          </div>
          <div class="info-item">
            <span class="info-icon"><i class="fa-solid fa-clock"></i></span>
            <div>
              <h3>ساعات العمل</h3>
              <p>الأحد - الخميس: 7:00 ص - 1:45 م</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-7">
        <div class="map-placeholder">
          <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d468.7184282191909!2d44.14916925866352!3d17.50182784650594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15feea492eca6dd7%3A0xa46238b8d9ec8e7f!2z2YXYr9in2LHYsyDYp9mE2LTYsdmI2YIg2KfZhNmG2YXZiNiw2KzZitipINin2YTYo9mH2YTZitip!5e1!3m2!1sen!2seg!4v1786029310184!5m2!1sen!2seg" 
            width="750" height="450" style="border: 1px solid #ccc;" allowfullscreen="" loading="lazy" referrerpolicy="strict-origin-when-cross-origin">

          </iframe>
          
        </div>
      </div>
    </div>
  </div>
</section>
